[features]
seeds = true
skip-lint = false

[programs.localnet]
mpc_spending_limit = "MpcSLim1t1111111111111111111111111111111111"

[programs.devnet]
mpc_spending_limit = "MpcSLim1t1111111111111111111111111111111111"

[programs.mainnet]
mpc_spending_limit = "MpcSLim1t1111111111111111111111111111111111"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000

[test.validator]
url = "https://api.mainnet-beta.solana.com"
